[2017-02-05 19:50] HaykoKoryun opened #2 "CSS Transforms are not reset when audio loaded via setMusic has ended"
When setting the the `audio` stream via `setMusic` and starting `rythm` the _CSS Transforms_ are not reset when the `audio` stream ends.

[2017-02-05 20:06] #2 closed

[2017-02-05 21:37] Okazari opened #4 "Not working on android"
Tried the demo page on android, and it's all crappy 😭  !

[2017-02-17 04:09] hiro28 opened #7 "Not working on Safari / Chrome (MacOS)"
Here is the console's log

![screen shot 2017-02-17 at 11 08 56 am](https://cloud.githubusercontent.com/assets/4512141/23052139/87cd319a-f501-11e6-9d1b-90b09647314e.png)

[2017-02-17 05:28] egoist opened #8 "Export umd build"
To work with bundler and not polluting the global environment

You can check out [Rollup](https://github.com/rollup/rollup) for reference or I can make a PR as well ;)

[2017-02-17 05:36] egoist commented on #7
You can add `if (typeof AudioContext !== 'undefined') {}` in your code, but it would better be fixed in the library itself, many browsers do not support this.

[2017-02-17 06:48] Okazari commented on #7
I probably need to add a polyfill for safari. I will look how i can do this in a clean way.

[2017-02-17 06:55] Okazari commented on #8
PR are Welcome  :).
My first idea was to make this as a good old javascript library. But since it got some success ill probably add an es6 module version. WDYT ?

[2017-02-17 22:54] LeoLamCY commented on #4
works fine here on android using chrome v55 unless you are referring to some button's positions being slightly off center?

Your demo page doesn't seem to be in this repo so I will just make a suggestion on how to fix it here:
You will need to remove
`.btn + .btn {
    margin-left: 1rem;
}`
from custom.css because it is redundant and is overwriting your media queries for mobile browsers in your ma

[2017-02-18 01:11] Okazari commented on #4
Thanks for the feedback ! Autoplay wasn't working on mine. But if i click on the start track button it works ! It's just a bit laggy tho.
If you want to PR your css adjustement, the public demo is on this repo on the gh-page branch.

If you dont want to, I'll probably fix this later on.

[2017-02-18 10:54] #4 closed

[2017-02-18 10:59] Okazari commented on #7
Just found this : `In Safari, the audio context has a prefix of webkit for backward-compatibility reasons. Since the Web Audio API is a work in progress, specification details may change.`

I'll go for this fix.

[2017-02-18 11:13] Okazari commented on #7
I just updated the code and the demo, @hiro28 could you try it again on Safari ? If this works, i'll release a v1.2.4 with this patch.

[2017-02-18 12:17] harrykc opened #12 "Able to use with other player?"
Thanks for the great work, i am using orher music player called APlayer. Can I add the rythm into the this player? It means the audio come from other player.

Or can you give me some tips how to add it?  Thanks again

[2017-02-18 12:33] #8 closed

[2017-02-18 12:54] HaykoKoryun commented on #4
AFAIK you can't have autoplay on mobile devices, you need to have the user interact with the page first and play the audio track using the scope of the interaction; so it's strictly not a bug.

[2017-02-18 13:19] HaykoKoryun commented on #12
I think it would be fairly simple to implement. One option from a cursory look is to modify the [`setMusic`](https://github.com/Okazari/Rythm.js/blob/master/src/rythm.js#L50) function to be polymorphic so that if an actual `Audio` object is passed instead of a `String` it uses the existing `Audio` object.

[2017-02-18 13:30] Okazari commented on #12
I'm currently working on a new API method for `Rythm.js` that can use an `AudioElement` instead of a `String` this one will just read audio and not control it. First major problem is that APlayer is not exposing its `audioContext` and an `AudioElement` can only be connected once.

Investigating for a solution...

[2017-02-18 13:38] Okazari commented on #12
Got a solution that works, going to clean the code and push it :)

[2017-02-18 14:14] Okazari commented on #12
You will be able to works with APlayer by doing this :

[code]

[2017-02-18 14:39] harrykc commented on #12
This is awesome, its working, thanks for your great work.

[2017-02-18 14:39] #12 closed

[2017-02-18 16:06] Okazari commented on #12
You're welcome ! 😄

[2017-02-19 22:03] Okazari opened #15 "Rework library using ES6 making new effects easier to add."

[2017-02-19 22:08] Okazari opened #16 "Add a minified version"
Build up the code into a minified version.

Will also probably output built files into a `/dist` folder

[2017-02-19 22:10] #15 closed

[2017-02-19 22:11] Okazari opened #17 "Improve README.md to give steps on how to build new effect (in v2.0.0)"

[2017-02-19 22:12] Okazari opened #18 "Add a rotate dance type (v2.0.0)"

[2017-02-19 22:13] Okazari opened #19 "Add a color change dance type (v2.0.0)"
Will need to provide a color "from" and a color "to" into option object.

[2017-02-19 22:14] Okazari opened #20 "Add a "vanish" (opacity) dance type (v2.0.0)"

[2017-02-19 22:15] Okazari opened #21 "Rework gh-pages to only show availables effects examples (instead of README) (v2.0.0)"
Will probably give an example for each + some example of frequence range selection

[2017-02-20 14:28] harrykc commented on #12
I found a strange issue, the animation will stop after few songs played(do not know how many, i have not count it). In APlayer, i am doing following code in play event.
[code]

I am debuging with it, but still no idea how to trigger it.

[2017-02-20 14:45] Okazari commented on #12
Thx for the feedback ! Did you had this issue more that once ?

Sometimes the preconfigured classes won't react on some songs. (Songs that don't use this frequencies)

[2017-02-21 02:28] harrykc commented on #12
Once trigger this issue, then the animation will stop, even for the next, next song.

[2017-02-21 18:50] Okazari opened #23 "Wrong licence in package.json"

[2017-02-23 23:34] Okazari commented on #7
Someone reported that it didn't work in chrome on Mac too 😱

[2017-02-24 14:20] harrykc commented on #12
For this issue, i think this is the reason

![2017-02-24_221753](https://cloud.githubusercontent.com/assets/7317546/23306605/38ae55ec-fadf-11e6-91f2-fc1714329dc0.png)

and i found this article http://stackoverflow.com/questions/35492397/remove-createmediaelementsource
any idea?

[2017-02-24 16:01] Okazari opened #24 "Issue on song replay"
Copy/paste from #12

I found the reason : when the song replay this issue will happen

![2017-02-24_221753](https://cloud.githubusercontent.com/assets/7317546/23306605/38ae55ec-fadf-11e6-91f2-fc1714329dc0.png)

and i found this article http://stackoverflow.com/questions/35492397/remove-createmediaelementsource
any idea?

[2017-02-24 16:03] Okazari commented on #24
@harrykc Could i have a look at the function fired on song's over ?

It looks like your player try to play a song that had already been connected to Rythm.js

[2017-02-24 16:44] harrykc commented on #24
@Okazari I am just using APlayer and run following code in play event

[code]

https://github.com/DIYgod/APlayer/blob/master/src/APlayer.js
This is the APlayer source code, seems need to remove createMediaElementSource before next song?

[2017-02-24 16:54] Okazari commented on #24
Hmmm i think i got the issue. But i need to a way to correct it.
If the track has already be played, `ap.audio` will be the same audio element. And you can't connect twice an audio element to a single audio context.

I got some solutions in my mind, but i need to investigate to get the most viable one. I'll be overwhelmed the whole next week. So i will probably not be able to work on Rythm before

[2017-02-25 00:36] harrykc commented on #24
Not hurry, just take your time, thank you :)

[2017-02-27 08:38] Lor-Saba opened #25 "Add generic function handler as first argument to .addRythm"
It would be nice to let who uses your lib a kind of "free will" to manipulate the dom as he/she feels like:

[code]

[2017-02-27 09:39] Okazari commented on #25
@Lor-Saba That's a great idea ! I'm pretty much feeling that this would be for overidding the `danceType`

Like this you could use the built in danceTypes

[code]

and you could use you own danceType function

[code]

The only negative point i find here is that people will probably do some awesome effects, and could not share them in the library :'(

I was refactoring to make PR really easy to do

[2017-02-27 14:55] Lor-Saba commented on #25
You're right, this makes more sense than my example.
Also, an `event.target` which points to the current selected element would be useful (check the import below)

You could try to add an "import" method, example:

[code]
and then..
[code]

p.s.
thank you for considering my suggestion ^^

[2017-02-28 11:44] TBesta opened #26 "SyntaxError"
**I've got this SyntaxError and why?**

SyntaxError: export declarations may only appear at top level of a module  rythm.js:1

[2017-02-28 12:25] Okazari commented on #26
Hey @TBesta, how did you install Rythm ? Could you show me your import or script tag ?

[2017-02-28 12:46] TBesta commented on #26
I just added it from ZIP but now used CDN and it's working.

I think problem is in rythm.js which is in ZIP file.

[2017-02-28 14:43] Okazari commented on #26
You currently cant use Rythm directly from github since this is the pre-build code. To use the production library file, use npm or CDNJS  ;)

[2017-02-28 14:44] #26 closed

[2017-02-28 14:46] Okazari commented on #26
If you have any more question feel free to ask ! Hope youre enjoying Rythm :)

[2017-03-04 15:31] #18 closed

[2017-03-04 15:38] #20 closed

[2017-03-04 15:58] #19 closed

[2017-03-04 15:59] #23 closed

[2017-03-04 16:06] #25 closed

[2017-03-04 16:55] #17 closed

[2017-03-04 20:00] #21 closed

[2017-03-07 12:00] Nouvan commented on #7
I'm currently debugging your code, since I want this proejct working on mobile phone.
I finaly get the music on mobile safari with this correction :

Line 167 :
this.browserAudioCtx = (typeof AudioContext == "undefined" || AudioContext == null)? window.webkitAudioContext: window.AudioContext;

However, the animations don't work properly. After some research, the main cause is on the analyser itsel

[2017-03-07 14:46] Okazari commented on #7
Hey @Nouvan Thanks for the feedback !

The current code i already using this correction https://github.com/Okazari/Rythm.js/blob/master/src/Player.js#L5

It looks like safari will need a polyfill for this functionnality, i'll look in this way.

[2017-03-20 15:42] Nouvan commented on #7
Hi @Okazari !

Did you try https://github.com/mohayonao/web-audio-engine ? Maybe it would be enough to make your project good on IOS devices ;) !

I will try soon and send you the results of my test.

[2017-03-20 20:03] Okazari commented on #7
Thanks @Nouvan i appreciate.

I actually cannot work on Rythm.js because i got a lot of works and projects to finalize !

Anyway, thanks for the suggestion, i'll take a look. Still need to test if polyfills would be enougth tho.

[2017-03-26 14:46] surmon-china opened #27 "audioelement is not defined"
Hello, thank you for this powerful project!

I used the process found that when I use the `connectExternalAudioElement` method, it will prompt `audioelement is not defined`, seemingly because the compressed package variable name is not caused.

![image](https://cloud.githubusercontent.com/assets/14019524/24332216/572e1c5c-1275-11e7-90a8-4ad2f3c96961.png)

[2017-03-26 15:55] Okazari commented on #27
Hey, thanks for your feedback.

This look like a stupid mistake from me (I should add some UnitTest to prevent this) i just wrote ```audioelement``` instead of ```audioElement```

I will hotfix this right now.

[2017-03-26 16:02] Okazari commented on #27
I fixed this in v2.0.2, just update your dependency and it should work :) !

[2017-03-26 16:05] surmon-china commented on #27
Oh, I missed a little ...

the `_this.audioElement` should be `_this.audio`

https://github.com/Okazari/Rythm.js/blob/master/rythm.js#L102

https://github.com/Okazari/Rythm.js/blob/master/rythm.js#L104

[2017-03-26 16:06] Okazari commented on #27
You're right ! Wait a sec ;)

[2017-03-26 16:11] Okazari commented on #27
v2.0.3 should be the one !

[2017-03-26 16:11] #27 closed

[2017-04-02 04:24] mpint opened #28 "CORS error on remote mp3"
Hello, I'm getting the following error when fetching audio sources from remote servers with the following code:

[code]

Any thoughts on how to resolve this?

[2017-04-04 12:18] #28 closed

[2017-04-25 08:47] Okazari commented on #24
Should be working in v2.0.4 (Finaly !)

Thanks for your patience @harrykc !

[2017-04-25 08:47] #24 closed

[2017-09-05 15:22] Okazari opened #29 "Expose a connectStreamSource() function"
https://github.com/Okazari/Rythm.js/blob/e1c7d751b54e0b89d6d61b8f12015a23ee605b90/src/Player.js#L60
Externalise this arrow function into a `connectStreamSource()`, expose it in the api and add it to the documentation

[2017-09-05 15:45] Okazari commented on #7
throwaway12933428233 on reddit :
Trouble is on this line:
`this.browserAudioCtx = AudioContext || webkitAudioContext`
If AudioContext is not defined, it throws an error. It doesn't fall back to webkitAudioContext. The script stops.
Easiest fix:
`this.browserAudioCtx = window.AudioContext || window.webkitAudioContext`

[2017-09-05 22:27] #7 closed

[2017-09-06 09:07] Okazari opened #32 "Try to use github api to thanks contributors on demo page."
They deserve it !

Probably will shout one person at a time, randomly selected from contributors.

[2017-09-06 09:10] Okazari opened #33 "Improve demo page UX"
Some people don't find easily how the demo page work.

Maybe adding an arrow that pulse to get attention from visitors ?

[2017-09-06 09:36] #16 closed

[2017-09-06 23:15] nikitavoloboev opened #35 "get error when trying to run it"
I get this error when trying to run it :

[code]

[2017-09-07 02:16] ScreamingHawk commented on #33
I tried to click the boxes thinking they were radio buttons.

I totally would have missed the `Start Demo` button if I didn't read other complaints on the HN article.
People are there for the demo. Think it should be enabled by default.

[2017-09-07 06:19] sunilkumarc commented on #33
@Okazari: Can i take this up and work on it?

[2017-09-07 06:27] Okazari commented on #33
Hey !
Thanks for thé feedback @ScreamingHawk. That's the main issue of my demo page. I had this feedback several time. Anyway i don't want it tonne enable by default, i had way more complain about it than now.

Sure @sunilkumarc ! I really feel that a good solution here could be an attention seeker.

[2017-09-07 08:08] nesvand commented on #35
What error are you getting in particular? Are you just pointing out that the license field should be updated?

[2017-09-07 08:36] nikitavoloboev commented on #35
Yeah I suppose. But running `npm start` errors out with this error.

[2017-09-07 08:39] nesvand commented on #35
So to be clear, you're saying `npm start` is crashing?

Can you give full logs from entering the command to returning to the command prompt?

[2017-09-07 16:57] #33 closed

[2017-09-07 17:11] jonrandy opened #37 "Rhythm"
Was there a reason for misspelling rhythm? Just curious

[2017-09-07 17:13] Okazari commented on #37
Main reason is there : https://www.npmjs.com/package/rhythm
I also choosed to be close to the french spelling.
=> Rythme (french) + Rhythm = Rythm

[2017-09-07 17:14] Okazari commented on #35
I found a little mistake in the new start script.
@nikitavoloboev It should work now ;) !

[2017-09-07 17:15] #35 closed

[2017-09-07 17:15] Okazari commented on #35
Fixed with https://github.com/Okazari/Rythm.js/commit/d8799eb9bc8801c6660719c272ae9e5960bb2b85

[2017-09-07 17:16] Okazari opened #38 "Add an option to choose if on stop, elements should reset to their original position or not"
Currently, if you stop, it will stop the music and the element will not reset to their position.
I feel that the user should be able to choose the behavior.
I consider adding this into the library itself

This would required some changes like :
 - A way to provide the option or a "stopAndReset" function
 - Each dance would need a reset function that could be called to reset elements.

[2017-09-07 17:49] Okazari opened #39 "Microphone behavior, after a start with an audio element source."
To reproduce :
 - On demo page, start then stop the demo.
 - Use the microphone.

Bug :
Microphone sound can be hear through speakers.

Expected behavior :
Microphone should never output to speakers.

[2017-09-07 17:55] Okazari commented on #33
The previously placed player will now show back when you scroll ;) !

[2017-09-07 17:58] Okazari opened #40 "Add a dance type playing with border-radius property"

[2017-09-07 18:10] Okazari commented on #33
I also changed previous demo element with a note ascii char, to prevent confusion :)

[2017-09-08 04:35] anicething opened #41 "interesting library"
very interesting, I like it.

[2017-09-08 06:20] #37 closed

[2017-09-08 06:22] Okazari commented on #41
Thanks for your feeback ! I appreciate it

[2017-09-08 06:22] #41 closed

[2017-09-10 01:13] ajaymathur opened #44 "npm install gives warning."
can mark package as private to avoid warnings.

[2017-09-10 01:13] ajaymathur commented on #44
If ok, can I take this up?

[2017-09-10 01:28] ajaymathur commented on #44
Warnings:

[code]

[2017-09-10 07:16] #44 closed

[2017-09-10 11:33] kounelios13 commented on #32
what's that api?

[2017-09-10 11:51] Okazari commented on #32
I would like to to something similar to https://botpress.io/ dashboard using regular github api https://developer.github.com/v3/repos/statistics/#get-contributors-list-with-additions-deletions-and-commit-counts.
![image](https://user-images.githubusercontent.com/5747538/30248785-f16a7d28-962e-11e7-9fff-18f7e646da52.png)

[2017-09-10 16:27] kukiron commented on #38
Hi, do you mean the page to reload, with a Reset button maybe?

[2017-09-10 16:51] Okazari commented on #38
I was thinking about stop button, or if the music stop also. It should be an option than whenever the library stop its job, elements css get resets.

[2017-09-10 20:59] ajaymathur commented on #40
Hi, can you please elaborate this feature. :)

[2017-09-11 07:34] Okazari commented on #40
I was thinking about just setting border-radius to let say 0px to 25px depending on the pulse ratio.
Here is the dance function signature https://github.com/Okazari/Rythm.js#custom-dance-type.
I think accepted options should be standards (min, max) and 'reverse' (default would be 25px => 0, reverse would be 0 => 25px)

Do you want to try ?

[2017-09-11 07:38] Okazari opened #47 "Add steps description on how to add new dance types"

[2017-09-11 07:39] Okazari commented on #47
Nvm, i'm dumb

[2017-09-11 07:39] #47 closed

[2017-09-11 09:22] kukiron commented on #38
Opened a [PR](https://github.com/Okazari/Rythm.js/pull/48) for this.

Please check out.

[2017-09-11 10:30] ajaymathur commented on #40
Sure, I will give it a try.

[2017-09-11 15:33] Okazari opened #51 "Add some examples made by the community"
https://codepen.io/TheBilTheory/full/QqLWrR/

&

https://codepen.io/Okazari/full/QvmLXO/

ATM

[2017-09-11 16:08] Okazari opened #52 "Name of contributor should be clickable and redirect to his profile."

[2017-09-12 19:42] johnzmon commented on #40
I love it

[2017-09-12 20:03] #52 closed

[2017-09-12 20:04] #32 closed

[2017-09-13 22:39] Okazari commented on #40
Done :)

[2017-09-13 22:39] #40 closed

[2017-09-13 22:49] #38 closed

[2017-09-14 10:28] lxcyha opened #57 "so cool 😎"

[2017-09-15 16:57] Okazari commented on #57
Thanks for your feedback :)

[2017-09-15 16:58] #57 closed

[2017-09-15 17:33] #39 closed

[2017-09-18 13:55] stefanos- opened #60 "Uncaught (in promise) DOMException: Failed to load because no supported source was found"
Hello, I tried to use this library into an angular 2 project but I get the following error:
Uncaught (in promise) DOMException: Failed to load because no supported source was found

At the app.component,ts of  my app I added the following commands:
[code]

Unfortunately, I'm not able to give you more information because I don't know which is the problem and I didn't find something to help me.

Has

[2017-09-18 17:22] Okazari commented on #60
Gonna try an angular integration tomorrow to see if i can reproduce.

[2017-09-18 18:13] stefanos- commented on #60
ok, thanks

[2017-09-18 18:15] Okazari commented on #60
I have doubts about your mp3 URL. it may be "/assets/rythm.mp3" or `import mySong from '../asserts/rythm.mp3'` but i don't think relative could work here out of the box.

[2017-09-18 20:00] stefanos- commented on #60
I have tried to use an absolute path but didn't work

[2017-09-18 20:37] Okazari commented on #60
Could you try with this one ? (just tell me if there is CORS) https://okazari.github.io/Rythm.js/samples/rythmC.mp3

[2017-09-18 20:52] stefanos- commented on #60
It's working on Edge with this url. I get the following error on Chrome:

`MediaElementAudioSource outputs zeroes due to CORS access restrictions for https://okazari.github.io/Rythm.js/samples/rythmC.mp3`

[2017-09-18 21:03] Okazari commented on #60
As I suspect this looks like a loading issue with your URL. I don't know
yet how to expose statics on Angular. I'll check tomorow. Anyway i should
handle this error and output a better message in Rythm.
If you can find the right URL to access your file in your browser, it
should work with this same URL with Rythm.

Le 18 sept. 2017 22:52, "stefanos lignos" <notifications@github.com> a
écrit :

[2017-09-18 21:05] stefanos- commented on #60
ok, thanks a lot for your time!

[2017-09-21 11:11] nesvand commented on #60
Depending on your build chain @stefanos- I'd suggest using something like https://github.com/webpack-contrib/url-loader to generate the correct URL string to pass in to the library at run time

[2017-09-21 12:37] Okazari commented on #60
I did try on my angular poc... I did eject the conf to add "mp3" in the url-loader regex into the webpack config but i'm still running into a build issue module "./rythmC.mp3" not found...
God i hate angular :joy:

[2017-09-21 13:03] Okazari commented on #60
So, the easiest solution here is :
 1 - Add your file into the "assets" folder
 2 - Call rythm.setMusic("/assets/rythm.mp3")

It worked for me.

[2017-09-30 12:43] solidflux commented on #51
Thanks for this awesomeness!!

There's something causing safari to not do the dances in some cases... See the examples above:

- https://codepen.io/TheBilTheory/full/QqLWrR/ is working in safari
- https://codepen.io/Okazari/full/QvmLXO/  is not

No errors in console.log ... Any ideas what could cause this?

[2017-09-30 13:03] Okazari commented on #51
@solidflux Hello ! Pretty simple, the first link is using an old version or Rythm.js that didn't work on safari, i'll need to patch this before releasing the "Made by the community" page :)

[2017-09-30 16:32] solidflux commented on #51
Thanks for the quick reply!! I made sure i was using the latest version, but my elements still weren't dancing on Safari (Chrome and Firefox on Mac and most recent browsers on Windows were fine).

Then I tried the mp3 from one of the examples and then the elements in Safari started to dance too!!

Thanks again!!!

[2017-10-23 08:47] Okazari opened #64 "Border-width dance"
Make the `border-width` dance !
Options: min & max

[2017-10-23 08:47] Okazari opened #65 "Border-color dance"
Same API than Background-color dance :)

[2017-10-23 08:48] Okazari opened #66 "Font-size Dance"
Make the `font-size` dance !
Options : min & max

[2017-10-23 08:49] Okazari opened #67 "Font-weight dance"
Make the font-weight dance
Options: min & max

[2017-10-23 08:52] Okazari opened #68 "SVG : Color dance."
Make SVG color dance using the fill css property.
Same API than color dance.

[2017-10-23 08:53] Okazari opened #69 "SVG: Opacity dance"
Use fill-opacity SVG css property
Same as HTML Opacity

[2017-10-23 08:54] Okazari opened #70 "SVG: Border-dash dance"
Animate SVG border using stroke-dasharray

[2017-10-23 08:55] Okazari opened #71 "SVG: Border-slide dance"
Animate SVG border using stroke-dashoffset css property

[2017-10-23 08:55] Okazari opened #72 "SVG : Border-width dance"
Animate SVG border's width using `stroke-width` css property

[2017-10-24 11:07] ccocoual opened #74 "Bottom player is not visible on Chrome MacOS"
On MacOS High Sierra 10.3 and Chrome 62, bottom player is not visible because it is under bottom of viewport.
![2017-10-24 13 03 45](https://user-images.githubusercontent.com/8974009/31939824-24bbb994-b8bc-11e7-9c8a-68f3abe894a8.gif)

[2017-10-24 23:32] #74 closed

[2017-10-24 23:35] Okazari commented on #60
Closing, no activity in more than 1 month.

[2017-10-24 23:35] #60 closed

[2017-10-27 14:53] #65 closed

[2018-01-13 13:37] nesvand commented on #29
Here I was hoping for an evening of helping to close up this ticket for you and you already seem to have it implemented. It looks like your work from 33274ee and onwards has resolved this ticket - let's close it up! ;)

[2018-01-13 13:52] Okazari commented on #29
In my opinion `connectSource` is a bit too "low level". It's intented to connect an already create AudioSource to rythm.

What i would love to give as API is more like  `connectExternalStream` (I think the issue name have a mistake, i will update it) which is nothing more than the function given to `.then()` in the linked line.

WDYT ?

[2018-01-14 05:20] nesvand commented on #29
Sure let me think on it - I'll re-familiarise myself with the project (as it has been updated a bit since I last checked!) ;)

[2018-01-15 10:37] Okazari opened #82 "Add interesting discussions & post about rythm.js"

[2018-01-15 10:38] Okazari commented on #82
https://www.reddit.com/r/javascript/comments/6y6l1z/make_your_web_page_dance_with_rythmjs_v204/

[2018-01-15 10:39] Okazari commented on #82
https://www.reddit.com/r/webdev/comments/6yua1a/a_javascript_library_that_makes_your_page_dance/

[2018-01-15 10:41] Okazari commented on #82
https://news.ycombinator.com/item?id=15183014

[2018-01-15 10:56] Okazari commented on #51
https://github.com/pandermatt/music-visualizer by @pandermatt

[2018-01-15 11:08] Okazari commented on #51
https://github.com/smndhm/svg-anim-art by by @smndhm

[2018-01-15 11:14] Okazari commented on #51
https://marc.vornetran.de/ by @marc1404 (Click on his name to reveal the easter egg)

[2018-01-15 11:31] Okazari commented on #51
http://cravacuore.com.ar/music by @cravacuore (My eyes are bleeding :skull: )

[2018-01-15 11:32] marc1404 commented on #51
Awesome! Did you scan GitHub for references to your package?

[2018-01-15 11:36] Okazari commented on #51
@marc1404 I was curious so i searched "rythm.js" in the github codebase. I always hope to find interesting uses of Rythm.js :smile: (since i don't have any idea of the purpose of it)

[2018-01-15 11:54] Okazari commented on #51
http://baiyy1024.coding.me/show/#/project-info by @JasonBai007 (click on the rock star on the bottom left corner)

[2018-01-15 14:04] Okazari commented on #51
https://www.zenika.com/ after a konami code ( stroke: up_arrow up_arrow down_arrow down_arrow left_arrow right_arrow left_arrow right_arrow b a)

[2018-01-15 14:07] Okazari commented on #51
http://axetroy.xyz/#/ by @axetroy (click on the red circle next to his name) /!\ React integration :) !

[2018-01-15 14:20] Okazari commented on #51
https://deermichel.me/ by @deermichel (click on his name !)

[2018-01-15 15:30] Okazari commented on #82
Twitter :
 - **<Marque> tag back with vengeance** - *@udayms*

[2018-02-02 22:07] qoc-dkg opened #83 "Do I need to play music in order to make the elements pulse?"

[2018-02-02 22:19] Okazari commented on #83
yeah, unfortunatly animation are deeply linked to frequencies that are played.
What is your use case ?

[2018-02-05 14:28] qoc-dkg commented on #83
when I hover over an element I want it to move around in a playful manner/rhythmically.  I remember seeing your repo featured on HN so I dropped in to take a look.  Maybe there can be a way to pipe in a simulated audio output and have it picked up by your lib?  Might take a look if I have some time.

[2018-02-05 14:32] Okazari commented on #83
If what you want is to have a playful animation on hover, you should give a look at [animate.css](https://daneden.github.io/animate.css/) I think it would be more appropriate for your use case ;)
Take a look at their "Attention seekers" (They even have one called 'pulse' ;) )
Btw : What do you mean by "rhythmically" since there is no music involved in you usecase ?

[2018-02-15 13:40] #64 closed

[2018-03-09 13:12] Okazari commented on #83
No activity.

[2018-03-09 13:12] #83 closed

[2018-04-14 14:32] limfix opened #86 "Recognize youtube audio stream"
I'm using youtube iframe API in my project. How can I intercept the sound from the player and process it with rythm? Is it possible? Thank you!

[2018-04-15 02:00] Okazari commented on #86
This is currently not possible due to cross domain limitations with iframes.

I can make i work in the youtube page.
Go on a youtube page video (on the official youtube.com)
Open the javascript console and paste the following :

[code]

Then paste this

[code]

and it should work like a charm !

Problem is, when you're running this code outside of the youtube official page, you can't access to the

[2018-04-15 08:31] limfix commented on #86
Thank you for response. Anyway your project is awesome! Keep it up :+1:

[2018-04-15 08:31] #86 closed

[2018-04-25 18:39] silent opened #87 "how to set volume for songs?"
i use the following script to set volume, but it obviously won't work w/ this:
[code]
Any way to do this?

[2018-04-26 12:10] Okazari commented on #87
Hey @silent

If you're using rythm as the player controller, your can use the `.gain()` function

[code]

Should i improve the documentation to precise that gain is the technical word for volume ?

Tell me if you need anything else.

[2018-04-26 14:37] silent commented on #87
Sorry aha, I didn't even realise, thank you ever so much.

[2018-04-26 14:37] #87 closed

[2018-06-25 16:50] jackbbhua opened #88 "any way to catch the audio is finished play?"
any way to catch the audio is finished play?
so we can move out rythm class,add new rythm class or change another css when new audio been loaded to rythem JS.
thank you very much.

[2018-06-26 08:40] Okazari commented on #88
Hey Jackbbhua.

If you manage to get the audio element, you have the `ended` event.
https://developer.mozilla.org/en-US/docs/Web/Guide/Events/Media_events

Currently, if you want to get the audio element along with rythm.js you need to create and manage the audio element by yourself and use
[code]

I could also expose the `audio` element as `rythm.audio` (or you could do this as a PR ? ;) )

WDYT

[2018-06-26 15:06] jackbbhua commented on #88
i will try it,let you know it will works or not.thank you Okazari.

[2018-06-27 03:54] jackbbhua commented on #88
Hi, Okazari
I use ended event to catch the audio is end.it works.thank you in advance.

[2018-06-29 12:31] Okazari commented on #88
Glad it worked :) !

[2018-06-29 12:31] #88 closed

[2018-10-08 06:56] Slashgear commented on #66
This is done with #89 @Okazari

[2018-10-08 07:03] Okazari commented on #66
Gonna tag and publish that :)

[2018-10-08 08:15] Okazari commented on #66
:tada:

[2018-10-08 08:15] #66 closed

[2018-10-10 15:02] mitchellpalermo commented on #67
I would like to try and work on this one.

[2018-10-10 15:10] Okazari commented on #67
@mitchellpalermo
Go on ! If you need any advice don't hesitate to ask.
You can also read the contribution guide for more information about how to add a dance.

[2018-11-13 14:59] gavinr commented on #28
If your audio file has the correct CORS headers (solution 3 above), you may still need to do:

[code]

after you call the `setMusic()` function. ([more info](https://stackoverflow.com/a/32514394/2039))

[2018-11-13 22:15] mgreci opened #98 "Does not work in iOS Safari"
I’m not sure if you have considered mobile or even Safari but starting the demo initially rotates the Github and Release Notes buttons but no music plays nor does everything dance like it does on a desktop (Chrome).

[2018-12-03 06:08] lim4349 opened #102 "How to translate .md files into other languages"
Translating .md files into other languages may attract programmers from around the world.

[2018-12-28 15:34] Okazari opened #109 "Integrate a new dance with wiv.js"
jjkaufman.github.io/wiv.js/

[2019-03-26 23:58] Ctaylor27 commented on #67
I would love to take a crack at this!

[2019-03-27 07:38] Okazari commented on #67
Hey @ctaylor27 !
Thanks for the help.
Unfortunatly @mittchellpalermo already initiated a pull request for this issue https://github.com/Okazari/Rythm.js/pull/93
Maybe you coule fork this one and complete it according to my comments ?
If you have any other idea for a dance, feel free to propose it :)

[2019-04-01 10:12] Okazari commented on #51
https://sethusenthil.com/ by @SethuSenthil (click on his picture !)

[2019-04-01 10:13] Okazari commented on #51
https://github.com/micronaut/rhythm-proxy by @micronaut

[2019-04-01 10:14] Okazari commented on #51
https://github.com/grant-h/roproproprop by @grant-h

[2019-04-02 11:56] Okazari opened #110 "Need to add a nice Favicon (animated ?)"

[2019-04-02 12:00] Okazari commented on #102
You're right, i also feel that developper needs to be able to read a documentation in english ;) (personnal opinion.)
I can't adress this issue by myself, but anyone can feel free to create a PR on that subject. (like #104)
Maybe could you add a point about this in `Contributing.md` ?

[2019-06-25 18:21] lizzyd710 commented on #110
I have some experience with graphic design and would be interested in helping make a favicon if you're still interested. Do you have any ideas for designs?

[2019-07-01 08:02] Okazari commented on #110
Hey @lizzyd710.

Many thanks for your help !
I don't have any plan atm for the favicon. So feel free to submit any proposal :smile:

At first i wanted to use something like this : <♫/> but that's my first idea

I would like to insist on the "music" thing of Rythm.js :+1:

Thanks in advance :smile:

[2020-03-17 10:29] joseph-allen opened #118 "Cloudflare link is down"
Using the Cloudflare link responds with a 404, not sure if this is just for me so if somebody else can confirm?

Needs to be either removed from docs or put back on cloudflare!

[2020-03-17 10:33] Okazari commented on #118
Hey @joseph-allen, this links work fine for me : https://cdnjs.cloudflare.com/ajax/libs/rythm.js/2.2.5/rythm.min.js

Maybe it was unclear that you must replace 2.x.x with the version you want for your project. If so, you can make a PR to improve the doc in this direction 😉

[2020-03-17 11:07] joseph-allen commented on #118
Should we replace the x's with the latest release, or keep as is? plus a note that it needs to be replaced by the user?

[2020-03-17 11:15] Okazari commented on #118
I think it may be smarter to replace the x's with the latest release. Do you want to add you contribution to the project through this ? :smile:

[2020-03-17 11:16] joseph-allen commented on #118
yeah I will do it :D

[2020-03-17 11:28] joseph-allen commented on #118
༼ つ ◕_◕ ༽つ [https://github.com/Okazari/Rythm.js/pull/119](PR)

[2020-03-17 13:07] Okazari commented on #118
Thanks ! And welcome as a contributor :smile:

[2020-03-17 13:07] #118 closed

[2020-04-17 21:17] brianyuen commented on #98
Would love to see this working on mobile with mic support.

[2020-04-18 07:26] Okazari commented on #98
I still need help on this as i don't have neither a mac or an iphone.

[2020-04-19 03:47] mgreci commented on #98
Currently, everything appears functional in desktop Safari. I can try to debug iOS Safari next.

[2020-07-28 10:16] athoune opened #120 "Lots of vulnerabilities"
[code]

Ok, lets upgrade.

[code]

Better.

Most errors came from gulp tools.

[2020-07-28 11:22] Okazari commented on #120
Yup ! You're right :)
Could you make a PR accordingly ?

[2020-08-09 10:50] xvap opened #122 "any way to make the audio loop?"
i tried using

`<audioid="music" class="music" src="resources/mw.mp3" autoplay loop onplaying="" style="display: none;"></audio>`
rythm.connectExternalAudioElement(music)

but that didnt work, could you maybe add like a loop feature? thanks in advance :)

[2020-08-09 11:07] xvap commented on #122
solved it, my code was
`
        audio id="music" class="music" src="resources/mw.mp3" autoplay loop onplaying="" style="display: none;"></audio>
        var rythm = new Rythm()
        rythm.addRythm("blur1", "blur", 0, 250)
        rythm.addRythm("bass", "pulse", 0, 10)
        rythm.connectExternalAudioElement(document.getElementById("music"))
        rythm.setGain(0.5)
        rythm.start()

[2020-08-09 11:07] #122 closed

[2020-08-09 12:20] Okazari commented on #122
Glad you found a solution :) ! Feel free to ask if you have any more question.

[2020-11-16 00:24] simon1tan opened #123 "multiple instances"
Hello. I have multiple audio components and able to get one to play. When I try to map multiple audios using a

My code looks something like this:
audios = document.querySelectorAll("audio")
audios.foreach( (a,i)=>{
 // init and store instance into array or object
// add rythm-medium class
// connectExternalAudioElement
// add play and pause events
})

Is this possible or can I only have one insta

[2020-11-16 09:59] Okazari commented on #123
Hey ! Interesting use-case, could you provide a small reproduction of the issue ?

In fact, as far as i remember, rythmjs can only connect to one single audio source at once. You probably want to create multiple instance of rythm.js to process multiple audio source. (Let say, you could try to add a **new Rythmjs()** in your forEach)

Let me know ;)

[2020-12-13 17:50] arnab15 commented on #123
Hello sir,
I have knowledge of Javascript node js, react js, MongoDB, Expressjs I want to contribute to this project but I'm new to the open-source community so sir how can I start can you help me to figure out how should I start.

[2020-12-13 20:41] Okazari commented on #123
Hello @arnab15  ! Thanks for your interest. you can read the [contribution documentation](https://github.com/Okazari/Rythm.js/blob/master/CONTRIBUTING.md). Then you can run into the [good first issues](https://github.com/Okazari/Rythm.js/issues?q=is%3Aissue+is%3Aopen+label%3A%22%3Astar2%3A+GOOD+FIRST+ISSUE%22) tag to find something easy to start with.

Feel free to ask for anything on the issue yo

[2020-12-14 13:44] arnab15 commented on #123
yea sure @Okazari .thanks sir for replying to me and helping 😊. I hope I can contribute to this project.

[2021-01-31 14:39] JustinDCole opened #125 "Downloading Library"
Hello,

I'm struggling to download this library. I'm trying to create a audio visualizer that's reactive to sound and lights up certain colors like a LED strip onto a set of squares in a div element that I wrote in my HTML script.

What's the best way to download Rhythm for it to work successfully?

//////////////

February 3, 2021

I keep launching my file on the Live Server. I check console log,

[2021-02-01 08:39] Okazari commented on #125
Hello @JustinDCole !
As stated in the [getting started](https://github.com/Okazari/Rythm.js#good-old-way) part of the doc you have two main way to use Rythm.js

### If you are using either `npm` or `yarn` and ES6 Modules
 -  install the dependency (with `npm i` or `yarn add`)
 -  then in your javascript file use `import Rythm from 'rythm.js'` to get the lib.

### If you are using plain javascript

[2021-02-02 18:13] JustinDCole opened #126 "Rythm constructor is not recognized"
I keep launching my file on the Live Server. I check console log, and I keep seeing the error Rythm is not a constructor, even though I've uploaded the library half a dozen times. What's wrong?

[2021-02-02 19:43] Okazari commented on #126
Hello Justin, could you please continue your question on your initial thread ?

[2021-02-02 19:44] #126 closed

[2021-02-02 19:47] Okazari commented on #123
No activity.

[2021-02-02 19:47] #123 closed

[2021-02-03 16:12] JustinDCole commented on #126
I just updated it.

[2021-02-03 16:29] Okazari commented on #125
Hello Justin, you are just misspelling the library name `Rythm` with the english correct spelling `Rhythm()`
https://github.com/JustinDCole/UpdatedAudioVisualizer/blob/rhythm.js/Rhythm.js#L5

[2021-11-02 03:50] Saumitra8 opened #127 "Uncaught (in promise) DOMException: Failed to load because no supported source was found."
Hii ! I am trying to build a music player using html, css, js. But I am having one issue. Earlier my player was playing , when I added just one song. But when I tried for all the songs using index variable, its not working for me.
Please help...and tell me how to solve this.

element.addEventListener('click', (e) => {
        makeAllPlays();
        index = parseInt(e.target.id);
        e.target.

[2021-11-02 07:19] Okazari commented on #127
Hello ! I'm sorry but it will be hard to help you out without more context. The error makes me feel that the call to the `.mp3` file you're trying to do isn't doing well. Could you trace the call in your browser network debug tool ?

[2022-01-13 22:46] sgebr01 opened #128 "Getting past "AudioContext not allowed to start" issue on Chrome."
Hi! As I've been trying to get Rythm.js to work on my site, most times there will be an error in the console that says the AudioContext is not allowed to start. I know this is because Google and many other browsers put in measures to prevent audio from auto playing. How could I get past this? How could I assign Rythm.js to play on the click of a button? Trying it myself led to a Maximum Call Stack

[2022-01-13 22:55] sgebr01 opened #129 "Why are the dances not working besides the font-size?"
The only thing I have been able to animate is font-size, other than that I have not been able to make the elements dance in any other way. Here is my current JS Code. I am very in-experienced in it, so please show me how my code might've been wrong.

`const rythm = new Rythm()

rythm.addRythm('twist1', 'twist', 0, 10)
rythm.setMusic('Music.mp3')

rythm.start()
`

[2022-02-09 05:54] nabiloo19 opened #130 "API Documentation"
I am willing to write end-to-end documentation for this library using modern documentation tools, such as Stoplight.

Email me at nabilatwork@icloud.com

Happy to contribute!

[2022-02-12 17:27] #129 closed

[2022-07-18 14:17] eetsceeck1 opened #131 "Connect Rythm to an HTML audio source"
Hello,
do you have any idea or direction if can i connect Rythm to an audio context source instead of mp3 path,

as we do with many visualizers,
i am pasting an instructions i wrote for Tuna.js for a better understanding what i am trying to achieve,
i want to connect Rythm in the same way so it will effect to my player music what comes from an array, and not a specific mp3 file,
thank you in advan

[2022-07-19 08:56] Okazari commented on #131
Hey ! Sorry I totally forgot to add the documentation for [connectSource](https://github.com/Okazari/Rythm.js/blob/62799156982e31081c45171664cdb5d3c6cbe328/src/rythm.js#L27). That method accept an AudioSource as parameter :)

Tell me if that solve your point 👍

[2022-07-19 17:02] eetsceeck1 commented on #131
Okazari, Okay well first no, thank you for such awesome library,
if it helps?, first is a huge good news it can accept audio source i was wondering and more about there is no way, okay so now how i am using this if you can please explain?
should i ?
connectSource = source => this.player.connectSource(source)?
i dont get what should i do?

thank you

[2022-07-21 18:09] eetsceeck1 commented on #131
?

[2022-07-21 18:13] eetsceeck1 commented on #131
Okazari Hi again still waiting for your answer please, i have no idea how to use an ordinary node connection with Rythm like this:
[code]
please check my app to get indication how its looks like and what i a trying to achieve
http://epnetwork.cf/MRPRadioS100/vis/WYSIWYG/pub/

many thanks
wait for your reply

[2022-07-25 13:41] Okazari commented on #131
Hello !

After further analysis, it might be trickier than expected as it wasn't intended to be used with an external source.
That said this code might work (but i'm not sure of that) :
[code]

if that block you, we might want to add a `connectExternalSource` API function that do a little extra work to ease the use 👍

[2022-07-25 13:45] Okazari commented on #131
I also just realized that you're using an audioElement underneath

You can use the `connectExternalAudioElement` by providing the `audio` variable you have in your code 👍

[code]

☝️ that solution do have a drawback : The analysis will be run on the raw sound and not after the alterations due to the convolver node

[2022-07-25 19:04] eetsceeck1 commented on #131
Thank you for you reply,
Rythm written to be used with source file or an array what comes from audio source to what i did inspect the whole Rythm.js today,
your both solution dont work in my case,
the first one just an un clear error and things go goes to undefined function

the second one, the external source connection just as usual i knew that will happen even before i did use it, complaints ab

[2022-07-26 12:06] Okazari commented on #131
Hey @eetsceeck1 Thanks for all those information.

Just letting you know that I really do want your kind of usecase to work easily in the future 👍 I'm just trying to see if there is a workaround before going into an actual fix.

"Uncaught DOMException: Failed to execute 'createMediaElementSource' on 'AudioContext': HTMLMediaElement already connected previously to a different MediaElementSourceNode

[2022-07-26 12:56] eetsceeck1 commented on #131
Okazari Thank you for your quick response
that's exactly how i did test it, and its says what i did mentioned above
you more than invited to chat with me on session and i will set a remote control for you to my machine so we can find a solution, you will have full access to my code.
my session id is: 0585d527a6307566241aee8fa69addb33ec3c3f8db4b1f1fb37e8354086f364c5a
thanks wait for your message

[2022-07-26 13:06] Okazari commented on #131
Hey ! What app this session id should be used with ? We should schedule that, i'm currently working 😄 (You can PM me on my twitter from now if you want https://twitter.com/OkazariBzh

[2022-07-26 13:10] eetsceeck1 commented on #131
hey there, i dont have nor facebook or twitter or any kind of those kind of accounts anymore i deleted them 2 years ago, due to privacy and i am very happy i did get rid of  them finally lol
session is an application called session, its have all features like an usual messenger but its connect through tor, without a requirement to insert any email or any details whatsoever
https://getsession.org/